@media screen and (max-aspect-ratio: 1/1) {
  body {
    width: 100%;
    overflow-x: hidden !important;
  }
  .header1 {
    height: 6vh;
  }
  .header1 .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    order: 2;
  }
  .header1 .header-logo .header-logo-upper img {
    width: 9vw;
  }
  .header1 .header-logo .header-logo-upper h1 {
    margin-top: 0.1vw;
    font-size: 5vw;
  }
  .header1 .header-nav_bar {
    width: 40%;
    order: 1;
  }
  .header1 .header-nav_bar ul li {
    display: none;
  }
  .header1 .header-nav_bar .header-navbar-portrait {
    display: flex;
    align-items: center;
    width: 30%;
  }
  .header1 .header-nav_bar .header-navbar-portrait img {
    margin-left: 2%;
    width: 5vw;
    height: 5vw;
  }
  .header1 .header-nav_bar .header-navbar-portrait .navbar-cancel-button {
    display: none;
    width: 6.5vw;
    height: auto;
  }
  .header1 .header-nav_bar .header-navbar-portrait .header-navbar-submenu {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    top: 6vh;
    left: 0;
    height: 94vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 223, 61);
    row-gap: 14vw;
  }
  .header1 .header-nav_bar .header-navbar-portrait .header-navbar-submenu div {
    font-size: 9vw;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bolder;
    text-decoration: underline;
  }
  .header1 .header-nav_bar .header-navbar-portrait .header-navbar-submenu div a {
    text-decoration: none;
    color: rgb(36, 36, 36);
  }
  .header1 .header-social_icons {
    order: 3;
    margin-right: 1%;
    width: 40%;
  }
  .header1 .header-social_icons div {
    column-gap: 2vw;
  }
  .header1 .header-social_icons div img {
    width: 6vw;
    height: auto;
  }
  .home {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    height: 120vw;
    overflow: hidden;
  }
  .home .home-first_half {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 2vh;
  }
  .home .home-first_half .home-fh1 {
    font-size: 8vw;
  }
  .home .home-first_half .home-fh2 {
    font-size: 10vw;
  }
  .home .home-first_half .home-fh3 {
    width: 70%;
    font-size: 7vw;
    text-align: center;
  }
  .home .home-first_half p {
    font-size: 3vw;
    text-align: center;
    width: 85%;
  }
  .home .home-first_half div {
    margin-top: 5vw;
  }
  .home .home-first_half div button {
    padding: 2vw 4vw;
    border-radius: 5vw;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  .home .home-second_half {
    order: 1;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
  .home .home-second_half img {
    margin-left: 25%;
    width: 50%;
    height: auto;
  }
  .home .home-second_half div {
    position: absolute;
    width: 65%;
    height: 65vw;
    background-color: rgb(231, 204, 50);
    border-radius: 50%;
    z-index: -5;
    margin-left: 17%;
    margin-top: -1vh;
  }
  .about_us {
    margin-top: 10vh;
    min-height: 120vh;
  }
  .about_us .about_us-upper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_us .about_us-upper .about_us-upper-img {
    width: 100%;
    justify-content: center;
  }
  .about_us .about_us-upper .about_us-upper-img img {
    width: 80%;
  }
  .about_us .about_us-upper .about_us-upper-content {
    margin-top: 2vh;
    width: 80%;
  }
  .about_us .about_us-upper .about_us-upper-content .about_us-upper-heading {
    column-gap: 2vh;
  }
  .about_us .about_us-upper .about_us-upper-content .about_us-upper-heading h2 {
    font-size: 10vw;
  }
  .about_us .about_us-upper .about_us-upper-content hr {
    width: 70%;
    margin-bottom: 1.5vh;
    border: 0.3vw solid black;
  }
  .about_us .about_us-upper .about_us-upper-content h3 {
    font-size: 4.2vw;
    width: 100%;
    margin-bottom: 1vh;
  }
  .about_us .about_us-upper .about_us-upper-content p {
    width: 100%;
    font-size: 3.2vw;
  }
  .about_us .about_us-upper .about_us-upper-content button {
    font-size: 4vw;
    padding: 1vw 0;
  }
  .about_us .about_us-lower {
    display: flex;
    width: 100%;
    margin-top: 5vh;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: unset;
  }
  .about_us .about_us-lower hr {
    display: none;
  }
  .about_us .about_us-lower .about_us-experience {
    flex-direction: column;
    width: 80%;
    margin: 0vw 10%;
    flex: 0 0 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 15%;
    border-radius: 10vw;
  }
  .about_us .about_us-lower .about_us-experience img {
    width: 18vw;
  }
  .about_us .about_us-lower .about_us-experience h3 {
    font-size: 6vw;
    color: rgb(212, 184, 25);
    margin-bottom: 2vw;
  }
  .about_us .about_us-lower .about_us-experience p {
    font-size: 4vw;
  }
  .about_us .about_us-lower .about_us-mission {
    flex-direction: column;
    width: 80%;
    margin: 0vw 10%;
    flex: 0 0 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 15%;
    border-radius: 10vw;
  }
  .about_us .about_us-lower .about_us-mission img {
    width: 18vw;
  }
  .about_us .about_us-lower .about_us-mission h3 {
    font-size: 6vw;
    color: rgb(212, 184, 25);
    margin-bottom: 2vw;
  }
  .about_us .about_us-lower .about_us-mission p {
    font-size: 4vw;
  }
  .about_us .about_us-lower .about_us-vision {
    flex-direction: column;
    width: 80%;
    margin: 0vw 10%;
    flex: 0 0 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 15%;
    border-radius: 10vw;
  }
  .about_us .about_us-lower .about_us-vision img {
    width: 18vw;
  }
  .about_us .about_us-lower .about_us-vision h3 {
    font-size: 6vw;
    color: rgb(212, 184, 25);
    margin-bottom: 2vw;
  }
  .about_us .about_us-lower .about_us-vision p {
    font-size: 4vw;
  }
  .about_us .about_us-lower::-webkit-scrollbar {
    display: none;
  }
  .about_us .about_us-dots {
    display: flex;
    width: 100%;
    height: 20vw;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
  }
  .about_us .about_us-dots .dot1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(82, 82, 82);
    background-color: rgb(212, 184, 25);
  }
  .about_us .about_us-dots .dot2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(82, 82, 82);
  }
  .about_us .about_us-dots .dot3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(82, 82, 82);
  }
  .products-main .products-heading {
    width: 100%;
    height: 18vh;
    margin-bottom: 0vh;
  }
  .products-main .products-heading .products-gallery {
    font-size: 23vw;
  }
  .products-main .products-heading h2 {
    font-size: 8vw;
  }
  .products-main .products {
    width: 90%;
    height: 290vw;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: repeat(76, 1fr);
  }
  .products-main .products .products-img1 {
    grid-column: 1/span 14;
    grid-row: 1/span 13;
  }
  .products-main .products .products-img1 img {
    width: 95%;
  }
  .products-main .products .products-img2 {
    grid-column: 15/span 10;
    grid-row: 1/span 13;
  }
  .products-main .products .products-img2 img {
    width: 88%;
  }
  .products-main .products .products-img3 {
    grid-column: 1/span 11;
    grid-row: 14/span 10;
  }
  .products-main .products .products-img3 img {
    width: 95%;
  }
  .products-main .products .products-img4 {
    grid-column: 12/span 13;
    grid-row: 14/span 12;
  }
  .products-main .products .products-img4 img {
    width: 100%;
  }
  .products-main .products .products-img5 {
    grid-column: 1/span 11;
    grid-row: 24/span 12;
  }
  .products-main .products .products-img5 img {
    width: 100%;
  }
  .products-main .products .products-img6 {
    grid-column: 12/span 13;
    grid-row: 26/span 10;
  }
  .products-main .products .products-img6 img {
    height: 100%;
  }
  .products-main .products .products-img8 {
    grid-column: 1/span 11;
    grid-row: 36/span 12;
  }
  .products-main .products .products-img8 img {
    height: 100%;
  }
  .products-main .products .products-img7 {
    grid-column: 12/span 14;
    grid-row: 36/span 16;
  }
  .products-main .products .products-img7 img {
    height: 100%;
  }
  .products-main .products .products-img9 {
    grid-column: 1/span 11;
    grid-row: 48/span 14;
  }
  .products-main .products .products-img9 img {
    height: 100%;
  }
  .products-main .products .products-img10 {
    grid-column: 1/span 25;
    grid-row: 62/span 14;
  }
  .products-main .products .products-img10 img {
    height: 100%;
  }
  .products-main .products .products-img11 {
    grid-column: 12/span 14;
    grid-row: 52/span 10;
  }
  .products-main .products .products-img11 img {
    height: 100%;
  }
  .tech {
    margin-top: 10vw;
    height: 175vw;
    width: 100%;
  }
  .tech .techWindow {
    display: none;
  }
  .tech .tech-portrait {
    display: flex;
    grid-column: 1/span 24;
    grid-row: 4/span 21;
    overflow-x: scroll;
  }
  .tech .tech-portrait .tech-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 80vw;
    flex: 0 0 100%;
    z-index: -5;
  }
  .tech .tech-portrait .tech-1 :nth-child(1) {
    width: 90%;
  }
  .tech .tech-portrait .tech-1 :nth-child(2) {
    font-family: "blacksword";
    color: rgb(90, 90, 90);
    font-size: 6vw;
    margin-top: 3vw;
  }
  .tech .tech-portrait .tech-1 :nth-child(3) {
    font-size: 4.4vw;
    margin-top: 0.3vw;
  }
  .tech .tech-portrait .tech-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 80vw;
    flex: 0 0 100%;
    z-index: -5;
  }
  .tech .tech-portrait .tech-2 :nth-child(1) {
    width: 90%;
  }
  .tech .tech-portrait .tech-2 :nth-child(2) {
    font-family: "blacksword";
    color: rgb(90, 90, 90);
    font-size: 6vw;
    margin-top: 3vw;
  }
  .tech .tech-portrait .tech-2 :nth-child(3) {
    font-size: 4.4vw;
    margin-top: 0.3vw;
  }
  .tech .tech-portrait .tech-2 img {
    filter: grayscale(65%);
  }
  .tech .tech-portrait .tech-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 80vw;
    flex: 0 0 100%;
    z-index: -5;
  }
  .tech .tech-portrait .tech-3 :nth-child(1) {
    width: 90%;
  }
  .tech .tech-portrait .tech-3 :nth-child(2) {
    font-family: "blacksword";
    color: rgb(90, 90, 90);
    font-size: 6vw;
    margin-top: 3vw;
  }
  .tech .tech-portrait .tech-3 :nth-child(3) {
    font-size: 4.4vw;
    margin-top: 0.3vw;
  }
  .tech .tech-portrait::-webkit-scrollbar {
    display: none;
  }
  .tech .tech-heading {
    grid-column: 1/span 24;
    grid-row: 1/span 4;
  }
  .tech .tech-heading :nth-child(1) {
    font-size: 9vw;
  }
  .tech .tech-heading :nth-child(2) {
    font-size: 12vw;
  }
  .tech .tech-dots {
    grid-row: 24/span 3;
    grid-column: 1/span 24;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
  }
  .tech .tech-dots .tdot1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(82, 82, 82);
    background-color: rgb(212, 184, 25);
  }
  .tech .tech-dots .tdot2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(82, 82, 82);
  }
  .tech .tech-dots .tdot3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(82, 82, 82);
  }
  .stats {
    height: 80vw;
    width: 90%;
    padding-left: 5%;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
  }
  .stats .stats-heading {
    grid-column: 1/span 6;
    grid-row: 1/span 24;
    border-bottom: 1.2vw solid rgb(209, 185, 49);
  }
  .stats .stats-heading h2 {
    margin-top: 70vw;
    font-size: 24vw;
    margin-left: -5vw;
  }
  .stats p {
    font-size: 15vw;
  }
  .stats h6 {
    font-size: 3.2vw;
  }
  .stats .stats-projects {
    grid-column: 7/span 9;
    grid-row: 1/span 8;
    justify-content: flex-end;
    align-items: center;
  }
  .stats .stats-clients {
    grid-column: 16/span 9;
    grid-row: 1/span 8;
    justify-content: flex-end;
    align-items: center;
  }
  .stats .stats-yoe {
    grid-column: 7/span 9;
    grid-row: 9/span 8;
    justify-content: flex-end;
    align-items: center;
  }
  .stats .stats-yoe h6 {
    font-size: 2.5vw;
  }
  .stats .stats-team {
    grid-column: 16/span 9;
    grid-row: 9/span 8;
    justify-content: flex-end;
  }
  .stats .stats-workshops {
    grid-column: 12/span 9;
    grid-row: 17/span 8;
    justify-content: flex-end;
  }
  .stats .stats-end {
    margin-top: 15vw;
    grid-column: 1/span 24;
    grid-row: 1/span 24;
    font-size: 17vw;
    color: rgba(0, 0, 0, 0.068);
    overflow: hidden;
  }
  .clients {
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 50vw;
    margin-top: 10vh;
  }
  .clients .clients-image {
    height: 50vw;
    background-size: cover;
    background-position: center;
  }
  .clients .clients-heading {
    grid-column: 4/span 20;
    grid-row: 1/span 4;
    font-size: 5vw;
    text-shadow: 0.3vw 0.3vw 10px rgb(46, 46, 46);
  }
  .clients .clients-heading hr {
    border: 0.1vw solid rgb(255, 255, 255);
  }
  .clients .clients-logo {
    display: none;
  }
  .clients .clients-carousel {
    grid-column: 1/span 28;
    grid-row: 4/span 9;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .clients .clients-carousel div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1vw;
    width: 40%;
    height: 70%;
    flex: 0 0 40%;
    margin: 0 5%;
  }
  .clients .clients-carousel div img {
    width: 70%;
  }
  .clients .clients-carousel::-webkit-scrollbar {
    display: none;
  }
  .contact_us {
    height: 190vw;
    margin: 10vh 0;
  }
  .contact_us .contact_us-content {
    grid-column: 5/span 16;
    grid-row: 1/span 8;
    align-items: center;
    justify-content: center;
  }
  .contact_us .contact_us-content h2 {
    font-size: 7vw;
  }
  .contact_us .contact_us-content .contact_us-address {
    width: 80%;
    margin-top: 2vw;
    font-size: 2.8vw;
    text-align: center;
  }
  .contact_us .contact_us-content .contact_us-address img {
    width: 4vw;
  }
  .contact_us .contact_us-content .contact_us-mail {
    margin-top: 3vw;
    font-size: 3.2vw;
    text-align: center;
  }
  .contact_us .contact_us-content .contact_us-mail img {
    width: 4vw;
  }
  .contact_us .contact_us-content .contact_us-number {
    margin-top: 3vw;
    font-size: 3.2vw;
    text-align: center;
  }
  .contact_us .contact_us-content .contact_us-number img {
    width: 4vw;
  }
  .contact_us .contact_us-content .contact_us-socials {
    margin-top: 4vw;
  }
  .contact_us .contact_us-content .contact_us-socials h4 {
    font-size: 4vw;
  }
  .contact_us .contact_us-content .contact_us-socials div {
    column-gap: 6vw;
    margin-top: 4vw;
  }
  .contact_us .contact_us-content .contact_us-socials div img {
    width: 8vw;
  }
  .contact_us .contact_us-form {
    grid-column: 3/span 20;
    grid-row: 7/span 20;
    justify-content: center;
  }
  .contact_us .contact_us-form .contact-form-div {
    width: 90%;
    margin-top: 10vw;
    align-items: center;
    justify-content: center;
  }
  .contact_us .contact_us-form .contact-form-div h4 {
    font-size: 8vw;
    text-align: center;
  }
  .contact_us .contact_us-form .contact-form-div p {
    margin-top: 2vw;
    font-size: 2.7vw;
  }
  .contact_us .contact_us-form form {
    margin-top: 8vw;
  }
  .contact_us .contact_us-form form input[type=text] {
    width: 98%;
    height: 8vw;
    border-radius: 0.8vw;
    font-size: 4vw;
    padding-left: 2%;
  }
  .contact_us .contact_us-form form input[type=text]::placeholder {
    font-size: 4vw;
  }
  .contact_us .contact_us-form #form-mail {
    margin-top: 4vw;
  }
  .contact_us .contact_us-form textarea {
    margin-top: 4vw;
    padding-top: 2vw;
    width: 98%;
    padding-left: 2%;
    border-radius: 0.8vw;
    font-size: 4vw;
  }
  .contact_us .contact_us-form input[type=submit] {
    padding: 2vw 4vw;
    margin-top: 4vw;
    border-radius: 2vw;
    font-size: 4.3vw;
  }
  .copyright {
    font-size: 4vw;
  }
  #loader-page .loader-logo-wrapper .loader-logo {
    width: 15vw;
  }
  #loader-page .loader-name-wrapper div {
    column-gap: 3vw;
    height: 20vw;
  }
  #loader-page .loader-name-wrapper div h1 {
    font-size: 7vw;
    font-weight: 400;
  }
  #loader-page .loader-icon {
    width: 15vw;
    top: 65%;
  }
  .brand-logo {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    overflow: hidden;
  }
  .brand-logo div {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brand-logo .brand-logo-1 img {
    height: 100%;
  }
  .brand-logo .brand-logo-2 img {
    width: 90%;
  }
}
@media screen and (min-aspect-ratio: 1/1) {
  .header1 {
    height: 8vh;
  }
  .header1 .header-logo {
    margin-left: 4%;
  }
  .header1 .header-logo .header-logo-upper {
    margin-left: 4%;
  }
  .header1 .header-logo .header-logo-upper img {
    width: 3vw;
    height: auto;
  }
  .header1 .header-nav_bar {
    align-items: center;
    justify-content: center;
  }
  .header1 .header-nav_bar .header-navbar-portrait {
    display: none;
  }
  .header1 .header-social_icons {
    margin-right: 4%;
    width: 26%;
  }
  .header1 .header-social_icons div {
    column-gap: 0.8vw;
  }
  .header1 .header-social_icons div img {
    width: 2vw;
    height: auto;
  }
  .home {
    width: 100%;
    height: 92vh;
  }
  .home .home-first_half {
    width: 60%;
    height: 100%;
    margin-left: 5vw;
    margin-top: 8vw;
  }
  .home .home-first_half .home-fh1 {
    font-size: 4vw;
    width: 90%;
  }
  .home .home-first_half .home-fh2 {
    font-size: 4.2vw;
  }
  .home .home-first_half .home-fh3 {
    width: 70%;
    font-size: 4vw;
  }
  .home .home-first_half p {
    margin-top: 2vw;
    width: 70%;
    font-size: 1.2vw;
  }
  .home .home-first_half div {
    margin-top: 3vw;
  }
  .home .home-first_half div button {
    padding: 0.8vw 2vw;
    border-radius: 2vw;
    font-size: 1.2vw;
  }
  .home .home-second_half {
    width: 40%;
    height: 100%;
  }
  .home .home-second_half img {
    position: absolute;
    top: 12vh;
    right: 6vw;
    width: 33vw;
    height: auto;
  }
  .home .home-second_half .home-promotion_img {
    opacity: 0;
    animation: imgOpacity 2s ease-in-out 1s 1 normal forwards;
  }
  .home .home-second_half div {
    position: absolute;
    width: 42vw;
    height: 42vw;
    background-color: rgb(231, 204, 50);
    border-radius: 50%;
    z-index: -5;
    margin-left: -6vw;
    margin-top: 1vw;
  }
  .about_us {
    margin-top: 10vh;
    height: 140vh;
  }
  .about_us .about_us-upper {
    height: 92vh;
  }
  .about_us .about_us-upper .about_us-upper-img {
    width: 50%;
    justify-content: flex-end;
  }
  .about_us .about_us-upper .about_us-upper-img img {
    margin-right: 8%;
    margin-top: 2%;
    width: 63%;
    filter: brightness(90%) contrast(100%) saturate(120%);
  }
  .about_us .about_us-upper .about_us-upper-content {
    align-items: flex-start;
    width: 50%;
  }
  .about_us .about_us-upper .about_us-upper-content .about_us-upper-heading {
    column-gap: 1vw;
  }
  .about_us .about_us-upper .about_us-upper-content .about_us-upper-heading h2 {
    font-size: 4vw;
  }
  .about_us .about_us-upper .about_us-upper-content hr {
    width: 50%;
    border: 0.15vw solid black;
    margin-bottom: 1.5vw;
  }
  .about_us .about_us-upper .about_us-upper-content h3 {
    font-size: 1.8vw;
    width: 80%;
    margin-bottom: 1vw;
  }
  .about_us .about_us-upper .about_us-upper-content p {
    width: 80%;
    font-size: 1.3vw;
  }
  .about_us .about_us-upper .about_us-upper-content button {
    padding: 0.5vw 1vw;
    font-size: 1.1vw;
  }
  .about_us .about_us-lower {
    display: flex;
    width: 90%;
    margin: 5% 2% 5% 5%;
  }
  .about_us .about_us-lower hr {
    align-self: center;
    border: 0.12vw solid rgb(226, 196, 27);
    height: 60%;
  }
  .about_us .about_us-lower .about_us-dots {
    display: none;
  }
  .about_us .about_us-lower .about_us-experience {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 4%;
    row-gap: 3%;
  }
  .about_us .about_us-lower .about_us-experience img {
    width: 4vw;
  }
  .about_us .about_us-lower .about_us-experience h3 {
    font-size: 1.4vw;
  }
  .about_us .about_us-lower .about_us-experience p {
    font-size: 1.3vw;
  }
  .about_us .about_us-lower .about_us-mission {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 4%;
    row-gap: 3%;
  }
  .about_us .about_us-lower .about_us-mission img {
    width: 4vw;
  }
  .about_us .about_us-lower .about_us-mission h3 {
    font-size: 1.4vw;
  }
  .about_us .about_us-lower .about_us-mission p {
    font-size: 1.3vw;
  }
  .about_us .about_us-lower .about_us-vision {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 4%;
    row-gap: 3%;
  }
  .about_us .about_us-lower .about_us-vision img {
    width: 4vw;
  }
  .about_us .about_us-lower .about_us-vision h3 {
    font-size: 1.4vw;
  }
  .about_us .about_us-lower .about_us-vision p {
    font-size: 1.3vw;
  }
  .about_us {
    margin-top: 10vh;
    display: flex;
    height: 140vh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }
  .products-main .products-heading {
    height: 46vh;
    margin-bottom: 5vh;
  }
  .products-main .products-heading h2 {
    font-size: 6vw;
  }
  .products-main .products-heading .products-gallery {
    position: absolute;
    font-size: 20vw;
    font-weight: bolder;
    color: rgba(212, 212, 212, 0.678);
    color: rgb(240, 212, 58);
    z-index: -10;
  }
  .products-main .products {
    height: 90vh;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3vh;
    margin-bottom: 10vh;
    grid-template-rows: repeat(24, 1fr);
  }
  .products-main .products .products-img1 {
    grid-column: 11/span 8;
    grid-row: 1/span 13;
  }
  .products-main .products .products-img1 img {
    width: 95%;
  }
  .products-main .products .products-img2 {
    grid-column: 19/span 7;
    grid-row: 1/span 13;
  }
  .products-main .products .products-img2 img {
    width: 88%;
  }
  .products-main .products .products-img3 {
    grid-column: 1/span 4;
    grid-row: 1/span 7;
  }
  .products-main .products .products-img3 img {
    width: 95%;
  }
  .products-main .products .products-img4 {
    grid-column: 5/span 6;
    grid-row: 1/span 8;
  }
  .products-main .products .products-img4 img {
    width: 100%;
  }
  .products-main .products .products-img5 {
    grid-column: 1/span 4;
    grid-row: 8/span 8;
  }
  .products-main .products .products-img5 img {
    width: 100%;
  }
  .products-main .products .products-img6 {
    grid-column: 5/span 6;
    grid-row: 9/span 7;
  }
  .products-main .products .products-img6 img {
    height: 100%;
  }
  .products-main .products .products-img7 {
    grid-column: 11/span 4;
    grid-row: 14/span 11;
  }
  .products-main .products .products-img7 img {
    height: 100%;
  }
  .products-main .products .products-img8 {
    grid-column: 15/span 5;
    grid-row: 14/span 11;
  }
  .products-main .products .products-img8 img {
    height: 100%;
  }
  .products-main .products .products-img9 {
    grid-column: 20/span 6;
    grid-row: 14/span 11;
  }
  .products-main .products .products-img9 img {
    height: 100%;
  }
  .products-main .products .products-img10 {
    grid-column: 1/span 6;
    grid-row: 16/span 9;
  }
  .products-main .products .products-img10 img {
    height: 100%;
  }
  .products-main .products .products-img11 {
    grid-column: 7/span 4;
    grid-row: 16/span 9;
  }
  .products-main .products .products-img11 img {
    height: 100%;
  }
  .tech {
    height: 92vh;
    margin-top: 20vh;
  }
  .tech .tech-portrait {
    display: none;
  }
  .tech .tech-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-column: 8/span 10;
    grid-row: 1/span 5;
  }
  .tech .tech-heading :nth-child(1) {
    font-family: "blacksword";
    font-size: 3.5vw;
    line-height: 90%;
    color: grey;
  }
  .tech .tech-heading :nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5vw;
    line-height: 75%;
    z-index: -1;
    color: rgb(235, 197, 28);
  }
  .tech div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .tech div img {
    width: 100%;
  }
  .tech .tech-1 {
    grid-column: 2/span 6;
    grid-row: 4/span 18;
    z-index: -2;
  }
  .tech .tech-1 :nth-child(2) {
    font-family: "blacksword";
    color: rgb(90, 90, 90);
    font-size: 1.8vw;
    margin-top: 0.7vw;
  }
  .tech .tech-1 :nth-child(3) {
    font-size: 1.25vw;
    margin-top: 0.3vw;
  }
  .tech .tech-2 {
    margin-top: 2vh;
    grid-column: 10/span 6;
    grid-row: 6/span 18;
    z-index: -2;
  }
  .tech .tech-2 img {
    filter: grayscale(65%);
  }
  .tech .tech-2 :nth-child(2) {
    font-family: "blacksword";
    color: rgb(90, 90, 90);
    font-size: 1.8vw;
    margin-top: 0.7vw;
  }
  .tech .tech-2 :nth-child(3) {
    font-size: 1.25vw;
    margin-top: 0.3vw;
  }
  .tech .tech-3 {
    grid-column: 18/span 6;
    grid-row: 4/span 18;
    z-index: -2;
  }
  .tech .tech-3 :nth-child(2) {
    font-family: "blacksword";
    color: rgb(90, 90, 90);
    font-size: 1.8vw;
    margin-top: 0.7vw;
  }
  .tech .tech-3 :nth-child(3) {
    font-size: 1.25vw;
    margin-top: 0.3vw;
  }
  .stats {
    margin-top: 15vh;
    margin-left: 14%;
    margin-right: 7%;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 70vh;
    width: 80%;
  }
  .stats .stats-heading {
    grid-column: 1/span 4;
    grid-row: 1/span 2;
    border-top: 0.5vw solid rgb(209, 185, 49);
  }
  .stats .stats-heading h2 {
    margin-top: 63vh;
    margin-left: -8vh;
    font-size: 14vw;
  }
  .stats p {
    font-size: 11vw;
  }
  .stats h6 {
    font-size: 1.25vw;
  }
  .stats .stats-projects {
    justify-content: center;
    grid-column: 5/span 6;
    grid-row: 1/span 2;
  }
  .stats .stats-clients {
    justify-content: center;
    grid-column: 11/span 6;
    grid-row: 1/span 2;
  }
  .stats .stats-yoe {
    justify-content: center;
    grid-column: 16/span 6;
    grid-row: 1/span 2;
  }
  .stats .stats-team {
    justify-content: center;
    align-items: center;
    grid-column: 5/span 9;
    grid-row: 3/span 2;
  }
  .stats .stats-workshops {
    justify-content: center;
    align-items: center;
    grid-column: 13/span 6;
    grid-row: 3/span 2;
  }
  .stats .stats-end {
    grid-column: 4/span 18;
    font-size: 10vw;
    grid-row: 1/span 4;
    line-height: 95%;
    color: rgba(0, 0, 0, 0.088);
  }
  .clients {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 60vh;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
  .clients div img {
    width: 70%;
  }
  .clients .clients-image {
    position: absolute;
    width: 100%;
    height: 60vh;
    background-image: url(../images/client_logo/sewing_machine.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .clients .clients-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 7/span 9;
    grid-row: 1/span 2;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3vw;
    text-shadow: 0.1vw 0.1vw 10px rgb(46, 46, 46);
    font-weight: bolder;
  }
  .clients .clients-heading hr {
    border: 0.1vw solid rgb(255, 255, 255);
  }
  .clients .clients-sargam {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/span 3;
    grid-row: 3/span 2;
    background-color: white;
    border-radius: 1vw;
  }
  .clients .clients-sapat {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 6/span 3;
    grid-row: 3/span 2;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
  }
  .clients .clients-maharaja {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 10/span 3;
    grid-row: 3/span 2;
    background-color: white;
    border-radius: 1vw;
  }
  .clients .clients-camel-tea {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 14/span 3;
    grid-row: 3/span 2;
    background-color: white;
    border-radius: 1vw;
  }
  .clients .clients-sanan-group {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 18/span 3;
    grid-row: 3/span 2;
    background-color: white;
    border-radius: 1vw;
  }
  .clients .clients-carousel {
    display: none;
  }
  .contact_us {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    height: 92vh;
    width: 100%;
    margin-bottom: 10vh;
  }
  .contact_us .contact_us-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 210, 39);
    grid-column: 5/span 6;
    grid-row: 4/span 18;
    box-shadow: 0.2vw 0.2vw 20px rgb(92, 92, 92);
    z-index: 3;
  }
  .contact_us .contact_us-content h2 {
    font-size: 3vw;
    margin-top: 8vh;
    margin-left: 1.5vw;
    text-shadow: 0.1vw 0.1vw 5px gray;
  }
  .contact_us .contact_us-content .contact_us-address {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    height: 8vh;
    font-size: 1.2vw;
    margin-left: 1.5vw;
  }
  .contact_us .contact_us-content .contact_us-address img {
    width: 2vw;
  }
  .contact_us .contact_us-content .contact_us-address p {
    margin-left: 1.5vw;
    margin-right: 2vw;
  }
  .contact_us .contact_us-content .contact_us-mail {
    display: flex;
    align-items: center;
    height: 8vh;
    font-size: 1.2vw;
    margin-left: 1.5vw;
  }
  .contact_us .contact_us-content .contact_us-mail img {
    width: 2vw;
  }
  .contact_us .contact_us-content .contact_us-mail p {
    margin-left: 1.5vw;
    margin-right: 2vw;
  }
  .contact_us .contact_us-content .contact_us-number {
    display: flex;
    align-items: center;
    height: 8vh;
    font-size: 1.2vw;
    margin-left: 1.5vw;
  }
  .contact_us .contact_us-content .contact_us-number img {
    width: 2vw;
  }
  .contact_us .contact_us-content .contact_us-number p {
    margin-left: 1.5vw;
    margin-right: 2vw;
  }
  .contact_us .contact_us-content .contact_us-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
  }
  .contact_us .contact_us-content .contact_us-socials h4 {
    font-size: 1.3vw;
    color: rgb(31, 31, 31);
    text-decoration: underline;
  }
  .contact_us .contact_us-content .contact_us-socials div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
    margin-top: 3vh;
  }
  .contact_us .contact_us-content .contact_us-socials div img {
    width: 3vw;
  }
  .contact_us .contact_us-form {
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
    grid-column: 7/span 14;
    grid-row: 2/span 22;
    z-index: 1;
    box-shadow: 0.1vw 0.1vw 15px rgb(110, 110, 110);
  }
  .contact_us .contact_us-form .contact-form-div {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 65%;
    margin-left: 30%;
  }
  .contact_us .contact_us-form .contact-form-div h4 {
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 2.7vw;
    text-shadow: 0.1vw 0.1vw 5px gray;
  }
  .contact_us .contact_us-form .contact-form-div p {
    margin-left: 2vw;
    margin-top: 1vh;
    font-size: 1.2vw;
  }
  .contact_us .contact_us-form .contact-form-div form {
    margin-top: 4.5vh;
    z-index: 1;
  }
  .contact_us .contact_us-form .contact-form-div form input[type=text] {
    margin-left: 2vw;
    width: 90%;
    height: 6vh;
    background-color: white;
    border: none;
    border-radius: 0.3vw;
    padding-left: 1vw;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2vw;
  }
  .contact_us .contact_us-form .contact-form-div form input[type=text]::placeholder {
    font-size: 1.2vw;
    font-family: "Times New Roman", Times, serif;
  }
  .contact_us .contact_us-form .contact-form-div #form-mail {
    margin-top: 4vh;
  }
  .contact_us .contact_us-form .contact-form-div textarea {
    margin-top: 4vh;
    padding-top: 1vh;
    width: 90%;
    margin-left: 2vw;
    padding-left: 1vw;
    border: none;
    border-radius: 0.3vw;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2vw;
  }
  .contact_us .contact_us-form .contact-form-div #form-message:focus {
    outline: none;
    border: 1px solid rgb(63, 63, 63);
  }
  .contact_us .contact_us-form .contact-form-div input[type=text]:focus {
    outline: none;
    border: 1px solid rgb(63, 63, 63);
  }
  .contact_us .contact_us-form .contact-form-div input[type=submit] {
    padding: 0.8vh 1vw;
    border-radius: 4vw;
    border: 1px solid black;
    margin-left: 2.2vw;
    margin-top: 2vh;
    font-size: 1.1vw;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(236, 210, 58);
    cursor: pointer;
  }
  .copyright {
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 2%;
    font-size: 1.3vw;
    width: 98%;
    height: 4vh;
    color: rgb(0, 0, 0);
    background-color: rgb(201, 201, 201);
  }
  #loader-page .loader-logo-wrapper .loader-logo {
    width: 6vw;
  }
  #loader-page .loader-name-wrapper div {
    column-gap: 0.8vw;
    height: 5vw;
  }
  #loader-page .loader-name-wrapper div h1 {
    font-size: 3vw;
    font-weight: 400;
  }
  #loader-page .loader-icon {
    width: 5vw;
    top: 75%;
  }
  .brand-logo {
    display: flex;
    height: 50vh;
    width: 100%;
    overflow: hidden;
  }
  .brand-logo div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brand-logo .brand-logo-1 img {
    height: 80%;
    padding-left: 10%;
  }
  .brand-logo .brand-logo-2 img {
    width: 80%;
    margin-right: 10%;
  }
}
@font-face {
  font-family: "GreatVibes";
  src: local("GreatVibes-Regular"), url("../fonts/cursive/GreatVibes-Regular.ttf"), format(".ttf");
}
@font-face {
  font-family: "blacksword";
  src: local("Blacksword"), url("../fonts/blacksword/Blacksword.otf");
}
* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

header {
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header1 {
  position: sticky;
  top: 0px;
  display: flex;
  width: 100%;
  overflow: visible;
}
.header1 .header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.1vw;
  width: 26%;
}
.header1 .header-logo .header-logo-upper {
  display: flex;
  align-items: center;
  column-gap: 0.3vw;
}
.header1 .header-logo .header-logo-upper img {
  height: auto;
}
.header1 .header-logo .header-logo-lower {
  display: flex;
}
.header1 .header-logo .header-logo-lower h1 {
  font-size: 0.9vw;
}
.header1 .header-nav_bar {
  display: flex;
  height: 100%;
  width: 40%;
}
.header1 .header-nav_bar ul nav {
  display: flex;
  list-style-type: none;
  column-gap: 1.7vw;
  font-size: 1.4vw;
  font-weight: 500;
}
.header1 .header-nav_bar ul nav a {
  text-decoration: none;
  color: black;
}
.header1 .header-nav_bar ul nav li {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.header1 .header-nav_bar ul nav li div {
  position: absolute;
  content: "";
  background-color: black;
  width: 110%;
  height: 8%;
  top: 92%;
  left: -110%;
  border-radius: 1vw;
}
.header1 .header-nav_bar ul nav #home-button-m div {
  left: -5%;
}
.header1 .header-social_icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header1 .header-social_icons div {
  display: flex;
  width: 50%;
  height: 70%;
  justify-content: flex-end;
  align-items: center;
}

@keyframes home_button {
  0% {
    left: -32%;
  }
  80% {
    left: -32%;
  }
  90% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.home {
  display: flex;
}
.home .home-first_half {
  display: flex;
  flex-direction: column;
}
.home .home-first_half .home-fh2 {
  animation: centerLine 2s ease-in-out 2s 1 forwards;
}
@keyframes centerLine {
  0% {
    text-decoration-line: none;
  }
  100% {
    text-decoration-line: line-through;
  }
}
.home .home-first_half p {
  margin-top: 2vw;
  font-weight: bold;
  color: rgb(39, 39, 39);
}
.home .home-first_half .home-fh3 {
  z-index: 2;
  color: rgb(102, 102, 102);
}
.home .home-first_half div {
  display: flex;
  column-gap: 2vw;
}
.home .home-first_half div button {
  border: 0.1vw solid black;
  background-color: rgb(231, 204, 50);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.home .home-first_half div button::after {
  position: absolute;
  transition: 0.5s;
  content: "";
  top: 0;
  background: #fff352;
  height: 120%;
  width: 30%;
  opacity: 0.8;
  left: -32%;
  transform: skewX(15deg);
  z-index: -1;
  animation: home_button 5s ease-out infinite;
}
.home .home-first_half div .home-connect {
  color: white;
  background-color: rgb(10, 10, 10);
}
.home .home-first_half div .home-connect::after {
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  animation: home_button 5s ease-out 1s infinite;
}
.home .home-first_half div button:hover {
  box-shadow: 2px 2px 8px;
}
.home .home-first_half div button:hover::after {
  left: 100%;
}
.home .home-second_half {
  overflow: hidden;
}
.home .home-second_half img {
  position: absolute;
  transform-origin: 50% 0%;
  animation: swinging_bag 2s ease-in-out infinite;
  overflow: hidden;
}
@keyframes swinging_bag {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
.home .home-second_half .home-promotion_img {
  opacity: 0;
  animation: imgOpacity 2s ease-in-out 1s 1 normal forwards, swinging_bag 2s ease-in-out infinite;
}
@keyframes imgOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about_us {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.about_us .about_us-upper {
  display: flex;
  width: 100%;
}
.about_us .about_us-upper .about_us-upper-img {
  display: flex;
  height: 100%;
  align-items: center;
}
.about_us .about_us-upper .about_us-upper-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.about_us .about_us-upper .about_us-upper-content .about_us-upper-heading {
  display: flex;
  overflow: hidden;
}
.about_us .about_us-upper .about_us-upper-content .about_us-upper-heading :nth-child(2) {
  color: rgb(226, 196, 27);
}
.about_us .about_us-upper .about_us-upper-content h3 {
  font-weight: 100;
  font-style: italic;
}
.about_us .about_us-upper .about_us-upper-content p {
  justify-self: center;
}
.about_us .about_us-upper .about_us-upper-content button {
  margin-top: 3vh;
  border: 0.1vw solid black;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5vw;
  font-family: "Times New Roman", Times, serif;
}
.about_us .about_us-upper .about_us-upper-heading:hover h2 {
  opacity: 1;
}
.about_us .about_us-lower {
  display: flex;
}
@keyframes icon_animator {
  0% {
    transform: rotateY(0deg);
  }
  90% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}
.about_us .about_us-lower .about_us-experience img {
  animation: icon_animator 10s ease-in-out infinite;
}
.about_us .about_us-lower .about_us-mission img {
  animation: icon_animator 10s ease-in-out 3s infinite;
}
.about_us .about_us-lower .about_us-vision img {
  animation: icon_animator 10s ease-in-out 6s infinite;
}

.products-main .products-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.products-main .products-heading .products-gallery {
  position: absolute;
  font-weight: bolder;
  color: rgb(240, 212, 58);
  z-index: -10;
}
.products-main .products-heading h2 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(37, 37, 37);
  margin-top: 3.5%;
  text-shadow: 0.3vw 0.3vw 4px rgb(70, 70, 70);
}
.products-main .products {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 0.8vw;
  row-gap: 0.8vw;
}
.products-main .products .products-img1 {
  background: rgb(182, 0, 193);
  background: radial-gradient(circle, rgb(158, 0, 167) 10%, rgb(65, 0, 68) 60%);
}
.products-main .products .products-img1 img {
  filter: brightness(120%);
  transform: rotate(-1deg);
}
.products-main .products .products-img2 {
  background: rgb(147, 147, 147);
  background: radial-gradient(circle, rgb(0, 153, 120) 0%, rgb(26, 153, 147) 45%);
}
.products-main .products .products-img2 img {
  filter: brightness(120%);
}
.products-main .products .products-img3 {
  background: rgb(255, 162, 0);
  background: radial-gradient(circle, rgb(207, 131, 0) 0%, rgb(218, 178, 0) 45%);
}
.products-main .products .products-img3 img {
  transform: rotate(2deg);
  filter: brightness(110%) contrast(115%);
}
.products-main .products .products-img4 {
  background: rgb(236, 87, 68);
  background: radial-gradient(circle, rgb(231, 117, 216) 5%, rgb(143, 23, 107) 50%);
}
.products-main .products .products-img4 img {
  filter: brightness(110%);
}
.products-main .products .products-img5 {
  background: rgb(236, 87, 68);
  background: radial-gradient(circle, rgb(236, 87, 68) 10%, rgb(149, 0, 0) 85%);
}
.products-main .products .products-img5 img {
  transform: rotate(-1deg);
  filter: brightness(120%) contrast(90%);
}
.products-main .products .products-img6 {
  background: rgb(247, 71, 49);
  background: radial-gradient(circle, rgb(247, 184, 49) 6%, rgb(212, 67, 0) 82%);
  overflow: hidden;
}
.products-main .products .products-img6 img {
  filter: brightness(140%) contrast(110%);
  transform: rotate(-2deg);
}
.products-main .products .products-img7 {
  background: rgb(247, 49, 153);
  background: radial-gradient(circle, rgb(209, 143, 178) 6%, rgb(221, 28, 99) 82%);
}
.products-main .products .products-img7 img {
  transform: rotate(-4deg);
  filter: brightness(120%);
}
.products-main .products .products-img8 {
  background: rgb(236, 87, 68);
  background: radial-gradient(circle, rgb(236, 87, 68) 10%, rgb(121, 0, 0) 55%);
}
.products-main .products .products-img8 img {
  filter: brightness(120%) contrast(110%);
}
.products-main .products .products-img9 {
  background: rgb(49, 169, 247);
  background: radial-gradient(circle, rgb(49, 169, 247) 6%, rgb(25, 95, 105) 72%);
}
.products-main .products .products-img9 img {
  transform: rotate(-3deg);
  filter: brightness(113%) contrast(105%);
}
.products-main .products .products-img10 {
  background: rgb(208, 208, 208);
  background: radial-gradient(circle, rgb(102, 34, 34) 2%, rgb(122, 19, 19) 82%);
}
.products-main .products .products-img11 {
  background: rgb(161, 203, 0);
  background: radial-gradient(circle, rgb(161, 203, 0) 6%, rgb(108, 130, 1) 62%);
}
.products-main .products .products-img11 img {
  transform: rotate(-2deg);
  filter: brightness(110%);
}
.products-main .products * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-main .products * img {
  cursor: pointer;
}

.tech {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(26, 1fr);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.tech .tech-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.tech .tech-heading :nth-child(1) {
  font-family: "blacksword";
  line-height: 90%;
  color: grey;
}
.tech .tech-heading :nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 75%;
  z-index: -1;
  color: rgb(235, 197, 28);
}

.stats {
  display: grid;
}
.stats .stats-heading h2 {
  transform: rotate(270deg);
  transform-origin: left top 0;
  color: rgb(97, 97, 97);
}
.stats p {
  font-weight: bolder;
  line-height: 80%;
  color: rgb(97, 97, 97);
}
.stats h6 {
  padding-top: -3vw;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.stats .stats-projects {
  display: flex;
  flex-direction: column;
}
.stats .stats-clients {
  display: flex;
  flex-direction: column;
}
.stats .stats-yoe {
  display: flex;
  flex-direction: column;
}
.stats .stats-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats .stats-workshops {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats .stats-end {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  z-index: -1;
}

.clients {
  display: grid;
  width: 100%;
}
.clients .clients-image {
  position: absolute;
  width: 100%;
  background-image: url(../images/client_logo/sewing_machine.jpg);
  background-attachment: fixed;
}
.clients .clients-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bolder;
}

.contact_us {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 100%;
  margin-bottom: 10vh;
}
.contact_us .contact_us-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 210, 39);
  box-shadow: 0.2vw 0.2vw 20px rgb(92, 92, 92);
  z-index: 3;
}
.contact_us .contact_us-content h2 {
  text-shadow: 0.1vw 0.1vw 5px gray;
}
.contact_us .contact_us-content .contact_us-address {
  display: flex;
  align-items: center;
}
.contact_us .contact_us-content .contact_us-address p {
  margin-left: 1.5vw;
  margin-right: 2vw;
}
.contact_us .contact_us-content .contact_us-mail {
  display: flex;
  align-items: center;
}
.contact_us .contact_us-content .contact_us-mail p {
  margin-left: 1.5vw;
  margin-right: 2vw;
}
.contact_us .contact_us-content .contact_us-number {
  display: flex;
  align-items: center;
  margin-left: 1.5vw;
}
.contact_us .contact_us-content .contact_us-number p {
  margin-left: 1.5vw;
  margin-right: 2vw;
}
.contact_us .contact_us-content .contact_us-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_us .contact_us-content .contact_us-socials h4 {
  color: rgb(31, 31, 31);
  text-decoration: underline;
}
.contact_us .contact_us-content .contact_us-socials div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_us .contact_us-form {
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
  z-index: 1;
  box-shadow: 0.1vw 0.1vw 15px rgb(110, 110, 110);
}
.contact_us .contact_us-form .contact-form-div {
  display: flex;
  flex-direction: column;
}
.contact_us .contact_us-form .contact-form-div h4 {
  text-shadow: 0.1vw 0.1vw 5px gray;
}
.contact_us .contact_us-form .contact-form-div form {
  z-index: 1;
}
.contact_us .contact_us-form .contact-form-div form input[type=text] {
  background-color: white;
  border: none;
  font-family: "Times New Roman", Times, serif;
}
.contact_us .contact_us-form .contact-form-div form input[type=text]::placeholder {
  font-family: "Times New Roman", Times, serif;
}
.contact_us .contact_us-form .contact-form-div textarea {
  border: none;
  font-family: "Times New Roman", Times, serif;
}
.contact_us .contact_us-form .contact-form-div #form-message:focus {
  outline: none;
  border: 1px solid rgb(63, 63, 63);
}
.contact_us .contact_us-form .contact-form-div input[type=text]:focus {
  outline: none;
  border: 1px solid rgb(63, 63, 63);
}
.contact_us .contact_us-form .contact-form-div input[type=submit] {
  border: 1px solid black;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(236, 210, 58);
  cursor: pointer;
}

.copyright {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 2%;
  width: 98%;
  height: 4vh;
  color: rgb(0, 0, 0);
  background-color: rgb(201, 201, 201);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderAnimation {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 0%;
    opacity: 1;
  }
}
#loader-page {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 20;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#loader-page .loader-logo-wrapper {
  position: relative;
  overflow: hidden;
}
#loader-page .loader-logo-wrapper .loader-logo {
  position: relative;
}
#loader-page .loader-name-wrapper {
  overflow: hidden;
}
#loader-page .loader-name-wrapper div {
  display: flex;
  position: relative;
}
#loader-page .loader-name-wrapper div h1 {
  font-family: "blacksword";
}
#loader-page .loader-name-wrapper div .loader-name1 {
  position: relative;
  top: 100%;
  opacity: 0;
  animation: loaderAnimation 0.7s ease-in 0s 1 forwards;
}
#loader-page .loader-name-wrapper div .loader-name2 {
  position: relative;
  top: 100%;
  opacity: 0;
  animation: loaderAnimation 0.9s ease-in 0s 1 forwards;
}
#loader-page .loader-name-wrapper div .loader-name3 {
  position: relative;
  top: 100%;
  opacity: 0;
  animation: loaderAnimation 1.1s ease-in 0s 1 forwards;
}
#loader-page .loader-icon {
  position: absolute;
  transform: rotate(0deg);
  animation: loader 0.8s linear 0s infinite;
}

/*# sourceMappingURL=index.css.map */
